In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
import csv

In [6]:
def read_sales_data():
    with open('./raw_sales_data.csv','r') as csv_file:
        csv_reader= csv.reader(csv_file)
        header=next(csv_reader)
        print(f"Header: {header}")

        for row in csv_reader:
            print(row)

In [7]:
read_sales_data()

Header: ['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'UnitPrice', 'OrderDate', 'PaymentMethod']
['0', 'Eve', 'Watch', 'Fash', '3.0', '1200.0', '2023/01/20', '']
['1', 'Bob', 'Laptop', 'fashion', '3.0', '1200.0', '2023/02/22', '']
['2', 'Diana', 'Headphones', 'Fash', '', '1200.0', '09-01-2023', 'PayPal']
['3', 'Diana', 'T-Shirt', 'Fash', '-1.0', '20.0', '2023/03/28', 'PayPal']
['4', 'Alice', 'Phone', 'electronics', '', '500.0', '2023/02/24', 'Bank Transfer']
['5', '', 'T-Shirt', 'Fashion', '-1.0', '50.0', '2023/01/29', 'Cash']
['6', 'Charlie', 'Watch', 'fashion', '-1.0', '500.0', '2023/02/22', 'Cash']
['7', 'Diana', 'Headphones', 'fashion', '-1.0', '', '2023/03/10', '']
['8', 'Diana', 'Watch', 'fashion', '3.0', '50.0', '2023/01/26', 'Bank Transfer']
['9', 'Eve', 'Laptop', 'fashion', '3.0', '1200.0', '2023/03/08', 'Bank Transfer']
['10', 'Bob', 'Watch', 'electronics', '1.0', '50.0', '2023/01/20', 'Cash']
['11', '', 'Watch', 'electronics', '', '20.0', '2023/01/23', 'Credit Card']
['12', 'Charlie', 'Shoes', 'Fashion', '-1.0', '50.0', '2023/02/19', 'Bank Transfer']
['13', 'Bob', 'T-Shirt', 'Elec', '3.0', '-10.0', '2023/03/24', 'Credit Card']
['14', 'Charlie', 'Laptop', 'Fashion', '3.0', '', '2023/02/15', '']
['15', 'Bob', 'Watch', 'electronics', '2.0', '', '2023/02/05', 'PayPal']
['16', 'Eve', 'Phone', 'Fashion', '3.0', '', '04-02-2023', 'Credit Card']
['17', 'Diana', 'Laptop', 'fashion', '3.0', '20.0', '2023/02/12', 'Bank Transfer']
['18', 'Diana', 'Shoes', 'Elec', '2.0', '1200.0', '2023/02/04', '']
['19', 'Eve', 'Headphones', 'Electronics', '1.0', '20.0', '2023/01/21', 'PayPal']
['20', 'Diana', 'Phone', 'Electronics', '-1.0', '500.0', '2023/03/16', 'PayPal']
['21', 'Diana', 'T-Shirt', 'Electronics', '1.0', '1200.0', '2023/02/21', 'Bank Transfer']
['22', 'Eve', 'Phone', 'Elec', '-1.0', '1200.0', '2023/02/17', 'Credit Card']
['23', 'Bob', 'T-Shirt', 'fashion', '2.0', '500.0', '2023/03/17', 'Cash']
['24', 'Bob', 'Phone', 'fashion', '', '20.0', '2023/01/19', 'Credit Card']
['25', 'Charlie', 'Laptop', 'Fashion', '', '50.0', '13-03-2023', 'PayPal']
['26', 'Frank', 'Headphones', 'electronics', '3.0', '-10.0', '2023/03/22', 'Bank Transfer']
['27', '', 'Phone', 'Fash', '-1.0', '1200.0', '2023/01/11', 'PayPal']
['28', 'Bob', 'Laptop', 'Electronics', '1.0', '-10.0', '2023/03/08', 'PayPal']
['29', 'Eve', 'Phone', 'electronics', '', '1200.0', '2023/03/04', 'PayPal']
['30', 'Eve', 'Laptop', 'fashion', '1.0', '20.0', '2023/01/28', 'Credit Card']
['31', '', 'Shoes', 'Electronics', '', '500.0', '2023/01/02', 'Bank Transfer']
['32', 'Alice', 'T-Shirt', 'fashion', '-1.0', '20.0', '2023/03/24', 'Cash']
['33', 'Frank', 'T-Shirt', 'Fash', '2.0', '-10.0', '2023/03/06', 'Bank Transfer']
['34', '', 'Laptop', 'Elec', '', '50.0', '12-03-2023', 'Cash']
['35', 'Frank', 'Shoes', 'Fashion', '1.0', '1200.0', '2023/02/07', 'Cash']
['36', 'Eve', 'Shoes', 'Electronics', '', '1200.0', '2023/01/23', 'PayPal']
['37', 'Eve', 'T-Shirt', 'Fash', '', '50.0', '2023/02/18', 'PayPal']
['38', 'Eve', 'Shoes', 'Elec', '2.0', '20.0', '2023/01/31', 'PayPal']
['39', '', 'T-Shirt', 'Electronics', '3.0', '1200.0', '2023/01/02', 'Bank Transfer']
['40', '', 'Headphones', 'electronics', '2.0', '500.0', '2023/03/14', 'Bank Transfer']
['41', 'Frank', 'Watch', 'Fashion', '-1.0', '-10.0', '2023/03/14', 'PayPal']
['42', 'Frank', 'Laptop', 'Elec', '1.0', '', '2023/01/21', 'Credit Card']
['43', 'Diana', 'Watch', 'Fashion', '3.0', '50.0', '06-01-2023', '']
['44', '', 'Headphones', 'Fashion', '2.0', '20.0', '2023/03/18', 'Bank Transfer']
['45', 'Diana', 'T-Shirt', 'fashion', '2.0', '-10.0', '2023/01/23', 'Credit Card']
['46', 'Eve', 'Watch', 'electronics', '2.0', '500.0', '2023/02/26', '']
['47', 'Charlie', 'Headphones', 'fashion', '3.0', '', '2023/02/28', 'PayPal']
['48', 'Alice', 'Watch', 'fashion', '-1.0', '20.0', '2023/03/09', 'Cash']
['49', 'Charlie', 'T-Shirt', 'Elec', '2.0', '100.0', '2023/03/16', 'Credit Card']
['50', 'Charlie', 'Shoes', 'Elec', '', '100.0', '2023/01/07', 'PayPal']
['51', 'Diana', 'Watch', 'Fash', '1.0', '1200.0', '2023/02/07', 'PayPal']
['52', 'Bob', 'Laptop', 'Fashion', '-1.0', '500.0', '12-03-2023', 'Cash']
['53', 'Alice', 'Headphones', 'fashion', '2.0', '', '2023/03/29', 'Cash']
['54', 'Bob', 'Watch', 'electronics', '', '1200.0', '2023/02/17', 'Cash']
['55', 'Bob', 'Headphones', 'Elec', '1.0', '20.0', '2023/01/01', 'Credit Card']
['56', 'Frank', 'Shoes', 'fashion', '1.0', '', '2023/03/24', 'Bank Transfer']
['57', 'Charlie', 'Watch', 'electronics', '1.0', '500.0', '2023/02/24', 'Cash']
['58', 'Charlie', 'Watch', 'Fashion', '2.0', '-10.0', '2023/01/20', '']
['59', 'Charlie', 'Laptop', 'fashion', '-1.0', '100.0', '2023/02/14', 'Bank Transfer']
['60', 'Bob', 'Watch', 'Fashion', '-1.0', '100.0', '2023/02/15', 'PayPal']
['61', 'Eve', 'Phone', 'Fash', '3.0', '20.0', '2023/02/05', '']
['62', 'Frank', 'T-Shirt', 'Elec', '', '20.0', '2023/03/06', '']
['63', 'Bob', 'Headphones', 'Fash', '-1.0', '-10.0', '2023/03/01', 'Credit Card']
['64', 'Frank', 'T-Shirt', 'Fash', '2.0', '1200.0', '2023/02/01', 'Bank Transfer']
['65', 'Charlie', 'Laptop', 'fashion', '', '50.0', '2023/01/26', 'Credit Card']
['66', 'Frank', 'Watch', 'Electronics', '', '500.0', '2023/03/04', 'Bank Transfer']
['67', '', 'Laptop', 'Fash', '', '-10.0', '2023/01/07', 'Credit Card']
['68', 'Diana', 'Watch', 'Fash', '', '50.0', '2023/02/28', '']
['69', 'Charlie', 'T-Shirt', 'Fash', '1.0', '50.0', '2023/03/31', 'Cash']
['70', 'Diana', 'Shoes', 'Electronics', '2.0', '', '2023/03/06', '']
['71', 'Eve', 'Watch', 'electronics', '2.0', '1200.0', '2023/03/06', 'Credit Card']
['72', 'Frank', 'T-Shirt', 'Fashion', '3.0', '-10.0', '2023/01/03', '']
['73', '', 'Laptop', 'Electronics', '1.0', '', '2023/03/15', 'Bank Transfer']
['74', '', 'Phone', 'Fash', '2.0', '20.0', '2023/01/27', '']
['75', 'Diana', 'T-Shirt', 'electronics', '-1.0', '50.0', '12-02-2023', 'PayPal']
['76', 'Diana', 'Headphones', 'fashion', '2.0', '500.0', '2023/01/11', 'Cash']
['77', 'Alice', 'Shoes', 'Elec', '-1.0', '20.0', '2023/03/14', 'Cash']
['78', 'Alice', 'Phone', 'Fashion', '', '100.0', '2023/02/12', 'PayPal']
['79', '', 'Laptop', 'Fash', '', '1200.0', '2023/01/12', 'PayPal']
['80', '', 'Watch', 'Electronics', '3.0', '1200.0', '2023/01/02', 'Cash']
['81', 'Bob', 'Phone', 'Electronics', '3.0', '-10.0', '2023/02/21', 'Cash']
['82', 'Eve', 'Headphones', 'electronics', '3.0', '100.0', '2023/01/10', 'PayPal']
['83', 'Charlie', 'Shoes', 'Fashion', '1.0', '-10.0', '2023/02/18', 'Credit Card']
['84', 'Bob', 'T-Shirt', 'electronics', '2.0', '20.0', '2023/02/04', 'Bank Transfer']
['85', 'Frank', 'Laptop', 'electronics', '2.0', '500.0', '2023/03/22', '']
['86', 'Charlie', 'Phone', 'Fashion', '1.0', '500.0', '2023/03/31', '']
['87', 'Frank', 'T-Shirt', 'Fashion', '3.0', '1200.0', '2023/03/06', 'Bank Transfer']
['88', 'Frank', 'Laptop', 'Fashion', '1.0', '500.0', '2023/03/23', '']
['89', 'Alice', 'Laptop', 'Elec', '3.0', '-10.0', '2023/01/30', 'PayPal']
['90', 'Diana', 'T-Shirt', 'Electronics', '', '100.0', '2023/03/13', 'Credit Card']
['91', 'Alice', 'T-Shirt', 'Fash', '', '50.0', '2023/01/15', 'Cash']
['92', '', 'Watch', 'Fashion', '-1.0', '100.0', '2023/03/22', '']
['93', 'Frank', 'Laptop', 'Elec', '1.0', '', '2023/03/30', 'PayPal']
['94', 'Frank', 'Watch', 'fashion', '1.0', '', '2023/03/03', 'Cash']
['95', 'Charlie', 'Laptop', 'Electronics', '3.0', '1200.0', '2023/03/08', 'Cash']
['96', 'Frank', 'Laptop', 'Elec', '3.0', '', '2023/03/29', 'PayPal']
['97', '', 'Laptop', 'Elec', '1.0', '100.0', '27-02-2023', 'Cash']
['98', '', 'Watch', 'Fash', '3.0', '500.0', '2023/02/25', '']
['99', 'Diana', 'Laptop', 'Electronics', '1.0', '1200.0', '2023/01/02', 'Bank Transfer']
['100', 'Alice', 'Headphones', 'Elec', '1.0', '50.0', '2023/01/11', 'Credit Card']
['101', 'Bob', 'Watch', 'fashion', '2.0', '20.0', '2023/02/16', '']
['102', 'Charlie', 'Phone', 'Electronics', '', '20.0', '2023/01/18', '']
['103', 'Alice', 'Laptop', 'Fashion', '2.0', '500.0', '2023/03/25', 'PayPal']
['104', 'Diana', 'T-Shirt', 'electronics', '1.0', '100.0', '2023/03/08', 'PayPal']
['105', 'Diana', 'Phone', 'electronics', '-1.0', '50.0', '2023/01/12', 'PayPal']
['106', 'Frank', 'Phone', 'electronics', '3.0', '50.0', '2023/02/14', 'Cash']
['107', 'Bob', 'Headphones', 'Electronics', '1.0', '20.0', '2023/03/27', '']
['108', 'Frank', 'Headphones', 'fashion', '-1.0', '100.0', '2023/01/24', 'Bank Transfer']
['109', 'Alice', 'Watch', 'Electronics', '', '1200.0', '12-01-2023', 'Bank Transfer']
['110', 'Eve', 'Phone', 'Fashion', '-1.0', '1200.0', '2023/03/13', 'Bank Transfer']
['111', 'Charlie', 'T-Shirt', 'Fash', '', '500.0', '2023/03/29', 'Cash']
['112', '', 'Headphones', 'electronics', '-1.0', '50.0', '2023/01/20', 'PayPal']
['113', 'Charlie', 'Watch', 'fashion', '', '', '15-03-2023', 'Bank Transfer']
['114', '', 'Shoes', 'Fash', '3.0', '', '2023/02/03', 'Credit Card']
['115', 'Alice', 'Shoes', 'Fash', '2.0', '', '2023/03/04', 'Bank Transfer']
['116', 'Frank', 'Watch', 'fashion', '3.0', '1200.0', '2023/03/18', 'Cash']
['117', 'Bob', 'Shoes', 'fashion', '', '-10.0', '2023/01/19', '']
['118', 'Alice', 'Headphones', 'electronics', '3.0', '20.0', '2023/02/21', 'Credit Card']
['119', 'Charlie', 'T-Shirt', 'Elec', '', '1200.0', '2023/03/11', 'Bank Transfer']

In [34]:
df=pd.read_csv('./raw_sales_data.csv')

In [35]:
df.head

<bound method NDFrame.head of      OrderID CustomerName     Product     Category  Quantity  UnitPrice  \
0          0          Eve       Watch         Fash       3.0     1200.0
1          1          Bob      Laptop      fashion       3.0     1200.0
2          2        Diana  Headphones         Fash       NaN     1200.0
3          3        Diana     T-Shirt         Fash      -1.0       20.0
4          4        Alice       Phone  electronics       NaN      500.0
..       ...          ...         ...          ...       ...        ...
115      115        Alice       Shoes         Fash       2.0        NaN
116      116        Frank       Watch      fashion       3.0     1200.0
117      117          Bob       Shoes      fashion       NaN      -10.0
118      118        Alice  Headphones  electronics       3.0       20.0
119      119      Charlie     T-Shirt         Elec       NaN     1200.0

      OrderDate  PaymentMethod
0    2023/01/20            NaN
1    2023/02/22            NaN
2    09-01-2023         PayPal
3    2023/03/28         PayPal
4    2023/02/24  Bank Transfer
..          ...            ...
115  2023/03/04  Bank Transfer
116  2023/03/18           Cash
117  2023/01/19            NaN
118  2023/02/21    Credit Card
119  2023/03/11  Bank Transfer

[120 rows x 8 columns]>

In [36]:
df

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
0,0,Eve,Watch,Fash,3.0,1200.0,2023/01/20,NaN
1,1,Bob,Laptop,fashion,3.0,1200.0,2023/02/22,NaN
2,2,Diana,Headphones,Fash,NaN,1200.0,09-01-2023,PayPal
3,3,Diana,T-Shirt,Fash,-1.0,20.0,2023/03/28,PayPal
4,4,Alice,Phone,electronics,NaN,500.0,2023/02/24,Bank Transfer
...,...,...,...,...,...,...,...,...
115,115,Alice,Shoes,Fash,2.0,NaN,2023/03/04,Bank Transfer
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
117,117,Bob,Shoes,fashion,NaN,-10.0,2023/01/19,NaN
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card
119,119,Charlie,T-Shirt,Elec,NaN,1200.0,2023/03/11,Bank Transfer

In [37]:
df.info

<bound method DataFrame.info of      OrderID CustomerName     Product     Category  Quantity  UnitPrice  \
0          0          Eve       Watch         Fash       3.0     1200.0
1          1          Bob      Laptop      fashion       3.0     1200.0
2          2        Diana  Headphones         Fash       NaN     1200.0
3          3        Diana     T-Shirt         Fash      -1.0       20.0
4          4        Alice       Phone  electronics       NaN      500.0
..       ...          ...         ...          ...       ...        ...
115      115        Alice       Shoes         Fash       2.0        NaN
116      116        Frank       Watch      fashion       3.0     1200.0
117      117          Bob       Shoes      fashion       NaN      -10.0
118      118        Alice  Headphones  electronics       3.0       20.0
119      119      Charlie     T-Shirt         Elec       NaN     1200.0

      OrderDate  PaymentMethod
0    2023/01/20            NaN
1    2023/02/22            NaN
2    09-01-2023         PayPal
3    2023/03/28         PayPal
4    2023/02/24  Bank Transfer
..          ...            ...
115  2023/03/04  Bank Transfer
116  2023/03/18           Cash
117  2023/01/19            NaN
118  2023/02/21    Credit Card
119  2023/03/11  Bank Transfer

[120 rows x 8 columns]>

In [38]:
df=df.drop_duplicates(subset=['OrderID','CustomerName'],keep='first')

In [39]:
df[:50]

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
0,0,Eve,Watch,Fash,3.0,1200.0,2023/01/20,NaN
1,1,Bob,Laptop,fashion,3.0,1200.0,2023/02/22,NaN
2,2,Diana,Headphones,Fash,NaN,1200.0,09-01-2023,PayPal
3,3,Diana,T-Shirt,Fash,-1.0,20.0,2023/03/28,PayPal
4,4,Alice,Phone,electronics,NaN,500.0,2023/02/24,Bank Transfer
5,5,NaN,T-Shirt,Fashion,-1.0,50.0,2023/01/29,Cash
6,6,Charlie,Watch,fashion,-1.0,500.0,2023/02/22,Cash
7,7,Diana,Headphones,fashion,-1.0,NaN,2023/03/10,NaN
8,8,Diana,Watch,fashion,3.0,50.0,2023/01/26,Bank Transfer
9,9,Eve,Laptop,fashion,3.0,1200.0,2023/03/08,Bank Transfer
10,10,Bob,Watch,electronics,1.0,50.0,2023/01/20,Cash
11,11,NaN,Watch,electronics,NaN,20.0,2023/01/23,Credit Card
12,12,Charlie,Shoes,Fashion,-1.0,50.0,2023/02/19,Bank Transfer
13,13,Bob,T-Shirt,Elec,3.0,-10.0,2023/03/24,Credit Card
14,14,Charlie,Laptop,Fashion,3.0,NaN,2023/02/15,NaN
15,15,Bob,Watch,electronics,2.0,NaN,2023/02/05,PayPal
16,16,Eve,Phone,Fashion,3.0,NaN,04-02-2023,Credit Card
17,17,Diana,Laptop,fashion,3.0,20.0,2023/02/12,Bank Transfer
18,18,Diana,Shoes,Elec,2.0,1200.0,2023/02/04,NaN
19,19,Eve,Headphones,Electronics,1.0,20.0,2023/01/21,PayPal
20,20,Diana,Phone,Electronics,-1.0,500.0,2023/03/16,PayPal
21,21,Diana,T-Shirt,Electronics,1.0,1200.0,2023/02/21,Bank Transfer
22,22,Eve,Phone,Elec,-1.0,1200.0,2023/02/17,Credit Card
23,23,Bob,T-Shirt,fashion,2.0,500.0,2023/03/17,Cash
24,24,Bob,Phone,fashion,NaN,20.0,2023/01/19,Credit Card
25,25,Charlie,Laptop,Fashion,NaN,50.0,13-03-2023,PayPal
26,26,Frank,Headphones,electronics,3.0,-10.0,2023/03/22,Bank Transfer
27,27,NaN,Phone,Fash,-1.0,1200.0,2023/01/11,PayPal
28,28,Bob,Laptop,Electronics,1.0,-10.0,2023/03/08,PayPal
29,29,Eve,Phone,electronics,NaN,1200.0,2023/03/04,PayPal
30,30,Eve,Laptop,fashion,1.0,20.0,2023/01/28,Credit Card
31,31,NaN,Shoes,Electronics,NaN,500.0,2023/01/02,Bank Transfer
32,32,Alice,T-Shirt,fashion,-1.0,20.0,2023/03/24,Cash
33,33,Frank,T-Shirt,Fash,2.0,-10.0,2023/03/06,Bank Transfer
34,34,NaN,Laptop,Elec,NaN,50.0,12-03-2023,Cash
35,35,Frank,Shoes,Fashion,1.0,1200.0,2023/02/07,Cash
36,36,Eve,Shoes,Electronics,NaN,1200.0,2023/01/23,PayPal
37,37,Eve,T-Shirt,Fash,NaN,50.0,2023/02/18,PayPal
38,38,Eve,Shoes,Elec,2.0,20.0,2023/01/31,PayPal
39,39,NaN,T-Shirt,Electronics,3.0,1200.0,2023/01/02,Bank Transfer
40,40,NaN,Headphones,electronics,2.0,500.0,2023/03/14,Bank Transfer
41,41,Frank,Watch,Fashion,-1.0,-10.0,2023/03/14,PayPal
42,42,Frank,Laptop,Elec,1.0,NaN,2023/01/21,Credit Card
43,43,Diana,Watch,Fashion,3.0,50.0,06-01-2023,NaN
44,44,NaN,Headphones,Fashion,2.0,20.0,2023/03/18,Bank Transfer
45,45,Diana,T-Shirt,fashion,2.0,-10.0,2023/01/23,Credit Card
46,46,Eve,Watch,electronics,2.0,500.0,2023/02/26,NaN
47,47,Charlie,Headphones,fashion,3.0,NaN,2023/02/28,PayPal
48,48,Alice,Watch,fashion,-1.0,20.0,2023/03/09,Cash
49,49,Charlie,T-Shirt,Elec,2.0,100.0,2023/03/16,Credit Card

In [40]:
df['CustomerName']=df['CustomerName'].fillna('Unknown')

In [41]:
df[60:120]

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
60,60,Bob,Watch,Fashion,-1.0,100.0,2023/02/15,PayPal
61,61,Eve,Phone,Fash,3.0,20.0,2023/02/05,NaN
62,62,Frank,T-Shirt,Elec,NaN,20.0,2023/03/06,NaN
63,63,Bob,Headphones,Fash,-1.0,-10.0,2023/03/01,Credit Card
64,64,Frank,T-Shirt,Fash,2.0,1200.0,2023/02/01,Bank Transfer
65,65,Charlie,Laptop,fashion,NaN,50.0,2023/01/26,Credit Card
66,66,Frank,Watch,Electronics,NaN,500.0,2023/03/04,Bank Transfer
67,67,Unknown,Laptop,Fash,NaN,-10.0,2023/01/07,Credit Card
68,68,Diana,Watch,Fash,NaN,50.0,2023/02/28,NaN
69,69,Charlie,T-Shirt,Fash,1.0,50.0,2023/03/31,Cash
70,70,Diana,Shoes,Electronics,2.0,NaN,2023/03/06,NaN
71,71,Eve,Watch,electronics,2.0,1200.0,2023/03/06,Credit Card
72,72,Frank,T-Shirt,Fashion,3.0,-10.0,2023/01/03,NaN
73,73,Unknown,Laptop,Electronics,1.0,NaN,2023/03/15,Bank Transfer
74,74,Unknown,Phone,Fash,2.0,20.0,2023/01/27,NaN
75,75,Diana,T-Shirt,electronics,-1.0,50.0,12-02-2023,PayPal
76,76,Diana,Headphones,fashion,2.0,500.0,2023/01/11,Cash
77,77,Alice,Shoes,Elec,-1.0,20.0,2023/03/14,Cash
78,78,Alice,Phone,Fashion,NaN,100.0,2023/02/12,PayPal
79,79,Unknown,Laptop,Fash,NaN,1200.0,2023/01/12,PayPal
80,80,Unknown,Watch,Electronics,3.0,1200.0,2023/01/02,Cash
81,81,Bob,Phone,Electronics,3.0,-10.0,2023/02/21,Cash
82,82,Eve,Headphones,electronics,3.0,100.0,2023/01/10,PayPal
83,83,Charlie,Shoes,Fashion,1.0,-10.0,2023/02/18,Credit Card
84,84,Bob,T-Shirt,electronics,2.0,20.0,2023/02/04,Bank Transfer
85,85,Frank,Laptop,electronics,2.0,500.0,2023/03/22,NaN
86,86,Charlie,Phone,Fashion,1.0,500.0,2023/03/31,NaN
87,87,Frank,T-Shirt,Fashion,3.0,1200.0,2023/03/06,Bank Transfer
88,88,Frank,Laptop,Fashion,1.0,500.0,2023/03/23,NaN
89,89,Alice,Laptop,Elec,3.0,-10.0,2023/01/30,PayPal
90,90,Diana,T-Shirt,Electronics,NaN,100.0,2023/03/13,Credit Card
91,91,Alice,T-Shirt,Fash,NaN,50.0,2023/01/15,Cash
92,92,Unknown,Watch,Fashion,-1.0,100.0,2023/03/22,NaN
93,93,Frank,Laptop,Elec,1.0,NaN,2023/03/30,PayPal
94,94,Frank,Watch,fashion,1.0,NaN,2023/03/03,Cash
95,95,Charlie,Laptop,Electronics,3.0,1200.0,2023/03/08,Cash
96,96,Frank,Laptop,Elec,3.0,NaN,2023/03/29,PayPal
97,97,Unknown,Laptop,Elec,1.0,100.0,27-02-2023,Cash
98,98,Unknown,Watch,Fash,3.0,500.0,2023/02/25,NaN
99,99,Diana,Laptop,Electronics,1.0,1200.0,2023/01/02,Bank Transfer
100,100,Alice,Headphones,Elec,1.0,50.0,2023/01/11,Credit Card
101,101,Bob,Watch,fashion,2.0,20.0,2023/02/16,NaN
102,102,Charlie,Phone,Electronics,NaN,20.0,2023/01/18,NaN
103,103,Alice,Laptop,Fashion,2.0,500.0,2023/03/25,PayPal
104,104,Diana,T-Shirt,electronics,1.0,100.0,2023/03/08,PayPal
105,105,Diana,Phone,electronics,-1.0,50.0,2023/01/12,PayPal
106,106,Frank,Phone,electronics,3.0,50.0,2023/02/14,Cash
107,107,Bob,Headphones,Electronics,1.0,20.0,2023/03/27,NaN
108,108,Frank,Headphones,fashion,-1.0,100.0,2023/01/24,Bank Transfer
109,109,Alice,Watch,Electronics,NaN,1200.0,12-01-2023,Bank Transfer
110,110,Eve,Phone,Fashion,-1.0,1200.0,2023/03/13,Bank Transfer
111,111,Charlie,T-Shirt,Fash,NaN,500.0,2023/03/29,Cash
112,112,Unknown,Headphones,electronics,-1.0,50.0,2023/01/20,PayPal
113,113,Charlie,Watch,fashion,NaN,NaN,15-03-2023,Bank Transfer
114,114,Unknown,Shoes,Fash,3.0,NaN,2023/02/03,Credit Card
115,115,Alice,Shoes,Fash,2.0,NaN,2023/03/04,Bank Transfer
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
117,117,Bob,Shoes,fashion,NaN,-10.0,2023/01/19,NaN
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card
119,119,Charlie,T-Shirt,Elec,NaN,1200.0,2023/03/11,Bank Transfer

In [42]:
df['Category']=df['Category'].str.lower().str.strip()
df['Category']=df['Category'].replace({'fash':'Fashion','elec':'Electronics'})

In [43]:
df[60:120]

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
60,60,Bob,Watch,fashion,-1.0,100.0,2023/02/15,PayPal
61,61,Eve,Phone,Fashion,3.0,20.0,2023/02/05,NaN
62,62,Frank,T-Shirt,Electronics,NaN,20.0,2023/03/06,NaN
63,63,Bob,Headphones,Fashion,-1.0,-10.0,2023/03/01,Credit Card
64,64,Frank,T-Shirt,Fashion,2.0,1200.0,2023/02/01,Bank Transfer
65,65,Charlie,Laptop,fashion,NaN,50.0,2023/01/26,Credit Card
66,66,Frank,Watch,electronics,NaN,500.0,2023/03/04,Bank Transfer
67,67,Unknown,Laptop,Fashion,NaN,-10.0,2023/01/07,Credit Card
68,68,Diana,Watch,Fashion,NaN,50.0,2023/02/28,NaN
69,69,Charlie,T-Shirt,Fashion,1.0,50.0,2023/03/31,Cash
70,70,Diana,Shoes,electronics,2.0,NaN,2023/03/06,NaN
71,71,Eve,Watch,electronics,2.0,1200.0,2023/03/06,Credit Card
72,72,Frank,T-Shirt,fashion,3.0,-10.0,2023/01/03,NaN
73,73,Unknown,Laptop,electronics,1.0,NaN,2023/03/15,Bank Transfer
74,74,Unknown,Phone,Fashion,2.0,20.0,2023/01/27,NaN
75,75,Diana,T-Shirt,electronics,-1.0,50.0,12-02-2023,PayPal
76,76,Diana,Headphones,fashion,2.0,500.0,2023/01/11,Cash
77,77,Alice,Shoes,Electronics,-1.0,20.0,2023/03/14,Cash
78,78,Alice,Phone,fashion,NaN,100.0,2023/02/12,PayPal
79,79,Unknown,Laptop,Fashion,NaN,1200.0,2023/01/12,PayPal
80,80,Unknown,Watch,electronics,3.0,1200.0,2023/01/02,Cash
81,81,Bob,Phone,electronics,3.0,-10.0,2023/02/21,Cash
82,82,Eve,Headphones,electronics,3.0,100.0,2023/01/10,PayPal
83,83,Charlie,Shoes,fashion,1.0,-10.0,2023/02/18,Credit Card
84,84,Bob,T-Shirt,electronics,2.0,20.0,2023/02/04,Bank Transfer
85,85,Frank,Laptop,electronics,2.0,500.0,2023/03/22,NaN
86,86,Charlie,Phone,fashion,1.0,500.0,2023/03/31,NaN
87,87,Frank,T-Shirt,fashion,3.0,1200.0,2023/03/06,Bank Transfer
88,88,Frank,Laptop,fashion,1.0,500.0,2023/03/23,NaN
89,89,Alice,Laptop,Electronics,3.0,-10.0,2023/01/30,PayPal
90,90,Diana,T-Shirt,electronics,NaN,100.0,2023/03/13,Credit Card
91,91,Alice,T-Shirt,Fashion,NaN,50.0,2023/01/15,Cash
92,92,Unknown,Watch,fashion,-1.0,100.0,2023/03/22,NaN
93,93,Frank,Laptop,Electronics,1.0,NaN,2023/03/30,PayPal
94,94,Frank,Watch,fashion,1.0,NaN,2023/03/03,Cash
95,95,Charlie,Laptop,electronics,3.0,1200.0,2023/03/08,Cash
96,96,Frank,Laptop,Electronics,3.0,NaN,2023/03/29,PayPal
97,97,Unknown,Laptop,Electronics,1.0,100.0,27-02-2023,Cash
98,98,Unknown,Watch,Fashion,3.0,500.0,2023/02/25,NaN
99,99,Diana,Laptop,electronics,1.0,1200.0,2023/01/02,Bank Transfer
100,100,Alice,Headphones,Electronics,1.0,50.0,2023/01/11,Credit Card
101,101,Bob,Watch,fashion,2.0,20.0,2023/02/16,NaN
102,102,Charlie,Phone,electronics,NaN,20.0,2023/01/18,NaN
103,103,Alice,Laptop,fashion,2.0,500.0,2023/03/25,PayPal
104,104,Diana,T-Shirt,electronics,1.0,100.0,2023/03/08,PayPal
105,105,Diana,Phone,electronics,-1.0,50.0,2023/01/12,PayPal
106,106,Frank,Phone,electronics,3.0,50.0,2023/02/14,Cash
107,107,Bob,Headphones,electronics,1.0,20.0,2023/03/27,NaN
108,108,Frank,Headphones,fashion,-1.0,100.0,2023/01/24,Bank Transfer
109,109,Alice,Watch,electronics,NaN,1200.0,12-01-2023,Bank Transfer
110,110,Eve,Phone,fashion,-1.0,1200.0,2023/03/13,Bank Transfer
111,111,Charlie,T-Shirt,Fashion,NaN,500.0,2023/03/29,Cash
112,112,Unknown,Headphones,electronics,-1.0,50.0,2023/01/20,PayPal
113,113,Charlie,Watch,fashion,NaN,NaN,15-03-2023,Bank Transfer
114,114,Unknown,Shoes,Fashion,3.0,NaN,2023/02/03,Credit Card
115,115,Alice,Shoes,Fashion,2.0,NaN,2023/03/04,Bank Transfer
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
117,117,Bob,Shoes,fashion,NaN,-10.0,2023/01/19,NaN
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card
119,119,Charlie,T-Shirt,Electronics,NaN,1200.0,2023/03/11,Bank Transfer

In [45]:
working_df=df
working_df

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
0,0,Eve,Watch,Fashion,3.0,1200.0,2023/01/20,NaN
1,1,Bob,Laptop,fashion,3.0,1200.0,2023/02/22,NaN
2,2,Diana,Headphones,Fashion,NaN,1200.0,09-01-2023,PayPal
3,3,Diana,T-Shirt,Fashion,-1.0,20.0,2023/03/28,PayPal
4,4,Alice,Phone,electronics,NaN,500.0,2023/02/24,Bank Transfer
...,...,...,...,...,...,...,...,...
115,115,Alice,Shoes,Fashion,2.0,NaN,2023/03/04,Bank Transfer
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
117,117,Bob,Shoes,fashion,NaN,-10.0,2023/01/19,NaN
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card
119,119,Charlie,T-Shirt,Electronics,NaN,1200.0,2023/03/11,Bank Transfer

In [46]:
working_df['Quantity']=working_df['Quantity'].dropna()

In [47]:
working_df

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
0,0,Eve,Watch,Fashion,3.0,1200.0,2023/01/20,NaN
1,1,Bob,Laptop,fashion,3.0,1200.0,2023/02/22,NaN
2,2,Diana,Headphones,Fashion,NaN,1200.0,09-01-2023,PayPal
3,3,Diana,T-Shirt,Fashion,-1.0,20.0,2023/03/28,PayPal
4,4,Alice,Phone,electronics,NaN,500.0,2023/02/24,Bank Transfer
...,...,...,...,...,...,...,...,...
115,115,Alice,Shoes,Fashion,2.0,NaN,2023/03/04,Bank Transfer
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
117,117,Bob,Shoes,fashion,NaN,-10.0,2023/01/19,NaN
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card
119,119,Charlie,T-Shirt,Electronics,NaN,1200.0,2023/03/11,Bank Transfer

In [48]:
working_df=working_df[working_df['Quantity']>=0]

In [49]:
working_df

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
0,0,Eve,Watch,Fashion,3.0,1200.0,2023/01/20,NaN
1,1,Bob,Laptop,fashion,3.0,1200.0,2023/02/22,NaN
8,8,Diana,Watch,fashion,3.0,50.0,2023/01/26,Bank Transfer
9,9,Eve,Laptop,fashion,3.0,1200.0,2023/03/08,Bank Transfer
10,10,Bob,Watch,electronics,1.0,50.0,2023/01/20,Cash
...,...,...,...,...,...,...,...,...
107,107,Bob,Headphones,electronics,1.0,20.0,2023/03/27,NaN
114,114,Unknown,Shoes,Fashion,3.0,NaN,2023/02/03,Credit Card
115,115,Alice,Shoes,Fashion,2.0,NaN,2023/03/04,Bank Transfer
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card

In [50]:
working_df=working_df[working_df['UnitPrice']>=0]

In [51]:
working_df

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
0,0,Eve,Watch,Fashion,3.0,1200.0,2023/01/20,NaN
1,1,Bob,Laptop,fashion,3.0,1200.0,2023/02/22,NaN
8,8,Diana,Watch,fashion,3.0,50.0,2023/01/26,Bank Transfer
9,9,Eve,Laptop,fashion,3.0,1200.0,2023/03/08,Bank Transfer
10,10,Bob,Watch,electronics,1.0,50.0,2023/01/20,Cash
17,17,Diana,Laptop,fashion,3.0,20.0,2023/02/12,Bank Transfer
18,18,Diana,Shoes,Electronics,2.0,1200.0,2023/02/04,NaN
19,19,Eve,Headphones,electronics,1.0,20.0,2023/01/21,PayPal
21,21,Diana,T-Shirt,electronics,1.0,1200.0,2023/02/21,Bank Transfer
23,23,Bob,T-Shirt,fashion,2.0,500.0,2023/03/17,Cash
30,30,Eve,Laptop,fashion,1.0,20.0,2023/01/28,Credit Card
35,35,Frank,Shoes,fashion,1.0,1200.0,2023/02/07,Cash
38,38,Eve,Shoes,Electronics,2.0,20.0,2023/01/31,PayPal
39,39,Unknown,T-Shirt,electronics,3.0,1200.0,2023/01/02,Bank Transfer
40,40,Unknown,Headphones,electronics,2.0,500.0,2023/03/14,Bank Transfer
43,43,Diana,Watch,fashion,3.0,50.0,06-01-2023,NaN
44,44,Unknown,Headphones,fashion,2.0,20.0,2023/03/18,Bank Transfer
46,46,Eve,Watch,electronics,2.0,500.0,2023/02/26,NaN
49,49,Charlie,T-Shirt,Electronics,2.0,100.0,2023/03/16,Credit Card
51,51,Diana,Watch,Fashion,1.0,1200.0,2023/02/07,PayPal
55,55,Bob,Headphones,Electronics,1.0,20.0,2023/01/01,Credit Card
57,57,Charlie,Watch,electronics,1.0,500.0,2023/02/24,Cash
61,61,Eve,Phone,Fashion,3.0,20.0,2023/02/05,NaN
64,64,Frank,T-Shirt,Fashion,2.0,1200.0,2023/02/01,Bank Transfer
69,69,Charlie,T-Shirt,Fashion,1.0,50.0,2023/03/31,Cash
71,71,Eve,Watch,electronics,2.0,1200.0,2023/03/06,Credit Card
74,74,Unknown,Phone,Fashion,2.0,20.0,2023/01/27,NaN
76,76,Diana,Headphones,fashion,2.0,500.0,2023/01/11,Cash
80,80,Unknown,Watch,electronics,3.0,1200.0,2023/01/02,Cash
82,82,Eve,Headphones,electronics,3.0,100.0,2023/01/10,PayPal
84,84,Bob,T-Shirt,electronics,2.0,20.0,2023/02/04,Bank Transfer
85,85,Frank,Laptop,electronics,2.0,500.0,2023/03/22,NaN
86,86,Charlie,Phone,fashion,1.0,500.0,2023/03/31,NaN
87,87,Frank,T-Shirt,fashion,3.0,1200.0,2023/03/06,Bank Transfer
88,88,Frank,Laptop,fashion,1.0,500.0,2023/03/23,NaN
95,95,Charlie,Laptop,electronics,3.0,1200.0,2023/03/08,Cash
97,97,Unknown,Laptop,Electronics,1.0,100.0,27-02-2023,Cash
98,98,Unknown,Watch,Fashion,3.0,500.0,2023/02/25,NaN
99,99,Diana,Laptop,electronics,1.0,1200.0,2023/01/02,Bank Transfer
100,100,Alice,Headphones,Electronics,1.0,50.0,2023/01/11,Credit Card
101,101,Bob,Watch,fashion,2.0,20.0,2023/02/16,NaN
103,103,Alice,Laptop,fashion,2.0,500.0,2023/03/25,PayPal
104,104,Diana,T-Shirt,electronics,1.0,100.0,2023/03/08,PayPal
106,106,Frank,Phone,electronics,3.0,50.0,2023/02/14,Cash
107,107,Bob,Headphones,electronics,1.0,20.0,2023/03/27,NaN
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card

In [52]:
working_df['PaymentMethod']=working_df['PaymentMethod'].fillna("Unknown")

C:\Users\HP\AppData\Local\Temp\ipykernel_17216\3059250374.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df['PaymentMethod']=working_df['PaymentMethod'].fillna("Unknown")

In [53]:
working_df

,OrderID,CustomerName,Product,Category,Quantity,UnitPrice,OrderDate,PaymentMethod
0,0,Eve,Watch,Fashion,3.0,1200.0,2023/01/20,Unknown
1,1,Bob,Laptop,fashion,3.0,1200.0,2023/02/22,Unknown
8,8,Diana,Watch,fashion,3.0,50.0,2023/01/26,Bank Transfer
9,9,Eve,Laptop,fashion,3.0,1200.0,2023/03/08,Bank Transfer
10,10,Bob,Watch,electronics,1.0,50.0,2023/01/20,Cash
17,17,Diana,Laptop,fashion,3.0,20.0,2023/02/12,Bank Transfer
18,18,Diana,Shoes,Electronics,2.0,1200.0,2023/02/04,Unknown
19,19,Eve,Headphones,electronics,1.0,20.0,2023/01/21,PayPal
21,21,Diana,T-Shirt,electronics,1.0,1200.0,2023/02/21,Bank Transfer
23,23,Bob,T-Shirt,fashion,2.0,500.0,2023/03/17,Cash
30,30,Eve,Laptop,fashion,1.0,20.0,2023/01/28,Credit Card
35,35,Frank,Shoes,fashion,1.0,1200.0,2023/02/07,Cash
38,38,Eve,Shoes,Electronics,2.0,20.0,2023/01/31,PayPal
39,39,Unknown,T-Shirt,electronics,3.0,1200.0,2023/01/02,Bank Transfer
40,40,Unknown,Headphones,electronics,2.0,500.0,2023/03/14,Bank Transfer
43,43,Diana,Watch,fashion,3.0,50.0,06-01-2023,Unknown
44,44,Unknown,Headphones,fashion,2.0,20.0,2023/03/18,Bank Transfer
46,46,Eve,Watch,electronics,2.0,500.0,2023/02/26,Unknown
49,49,Charlie,T-Shirt,Electronics,2.0,100.0,2023/03/16,Credit Card
51,51,Diana,Watch,Fashion,1.0,1200.0,2023/02/07,PayPal
55,55,Bob,Headphones,Electronics,1.0,20.0,2023/01/01,Credit Card
57,57,Charlie,Watch,electronics,1.0,500.0,2023/02/24,Cash
61,61,Eve,Phone,Fashion,3.0,20.0,2023/02/05,Unknown
64,64,Frank,T-Shirt,Fashion,2.0,1200.0,2023/02/01,Bank Transfer
69,69,Charlie,T-Shirt,Fashion,1.0,50.0,2023/03/31,Cash
71,71,Eve,Watch,electronics,2.0,1200.0,2023/03/06,Credit Card
74,74,Unknown,Phone,Fashion,2.0,20.0,2023/01/27,Unknown
76,76,Diana,Headphones,fashion,2.0,500.0,2023/01/11,Cash
80,80,Unknown,Watch,electronics,3.0,1200.0,2023/01/02,Cash
82,82,Eve,Headphones,electronics,3.0,100.0,2023/01/10,PayPal
84,84,Bob,T-Shirt,electronics,2.0,20.0,2023/02/04,Bank Transfer
85,85,Frank,Laptop,electronics,2.0,500.0,2023/03/22,Unknown
86,86,Charlie,Phone,fashion,1.0,500.0,2023/03/31,Unknown
87,87,Frank,T-Shirt,fashion,3.0,1200.0,2023/03/06,Bank Transfer
88,88,Frank,Laptop,fashion,1.0,500.0,2023/03/23,Unknown
95,95,Charlie,Laptop,electronics,3.0,1200.0,2023/03/08,Cash
97,97,Unknown,Laptop,Electronics,1.0,100.0,27-02-2023,Cash
98,98,Unknown,Watch,Fashion,3.0,500.0,2023/02/25,Unknown
99,99,Diana,Laptop,electronics,1.0,1200.0,2023/01/02,Bank Transfer
100,100,Alice,Headphones,Electronics,1.0,50.0,2023/01/11,Credit Card
101,101,Bob,Watch,fashion,2.0,20.0,2023/02/16,Unknown
103,103,Alice,Laptop,fashion,2.0,500.0,2023/03/25,PayPal
104,104,Diana,T-Shirt,electronics,1.0,100.0,2023/03/08,PayPal
106,106,Frank,Phone,electronics,3.0,50.0,2023/02/14,Cash
107,107,Bob,Headphones,electronics,1.0,20.0,2023/03/27,Unknown
116,116,Frank,Watch,fashion,3.0,1200.0,2023/03/18,Cash
118,118,Alice,Headphones,electronics,3.0,20.0,2023/02/21,Credit Card

In [69]:
col=list(working_df.columns)
col

['OrderID',
 'CustomerName',
 'Product',
 'Category',
 'Quantity',
 'UnitPrice',
 'OrderDate',
 'PaymentMethod']

In [54]:
import sqlite3

In [56]:
try:
    conn = sqlite3.connect('sales_data.db')
    print("Connection to SQLite DB successful")
except sqlite3.Error as e:
    print(f"Error connecting to SQLite DB: {e}")

Connection to SQLite DB successful

In [73]:
cursor=conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS orders (
    OrderID INTEGER,
    CustomerName TEXT,
    Product TEXT,
    Category TEXT,
    Quantity FLOAT,
    UnitPrice FLOAT,
    OrderDate DATE,
    PaymentMethod TEXT
)
""")

SyntaxError: unterminated string literal (detected at line 2) (2784947829.py, line 2)

In [ ]:

if conn:
    conn.close()
    print("SQLite connection closed")